.mmain{
    display: flex;
    flex-direction: row;
    width: 90%;
    
    
}
.taskcard{
    background-color:rgba(58, 58, 58, 0.214);
    height:70px;
    color: white;
    width: 100%;
    border-radius: 0.1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
}
.title{
    width: 100%;
    margin-left: 0.3rem;
    
    text-align: left;
}
.delete button{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
.none{
    background-color: none;
    border: none;
    text-decoration: none;
    color: white;
    width: 100%;
}
.none h4{
    width: 100%;
}